@using Template.Service.DTOs.Admin
@model UserDto
@{
    ViewData["Title"] = "Admin Profile";
}



<section id="profile">
    <div class="container">
        <div class="row  p-4">
            <div class="col-4">
                <div class="card">
                    <img class="card__img" src="/imgs/TeamARAMM/Aramm_tech.svg" />
                    <img class="card__avatar" src="/imgs/TeamARAMM/Aramm_tech.svg"/>
                    <div class="card__title">تيم ارام</div>
                    <div class="card__subtitle">شركة تقنية</div>
                    <ul class="social-icons">
                        <li id="facebook">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#DB4B4E" width="24px" height="24px">
                                    <path d="M22,12c0-5.521-4.479-10-10-10S2,6.479,2,12c0,5,3.657,9.127,8.438,9.877v-6.987H8.078v-2.89h2.36V10.5c0-2.324,1.374-3.606,3.483-3.606c1.008,0,2.064,0.182,2.064,0.182v2.255h-1.163c-1.146,0-1.504,0.713-1.504,1.444v1.736h2.56l-0.409,2.89h-2.151v6.987C18.343,21.127,22,17,22,12z" />
                                </svg>

                            </a>
                        </li>
                        <li id="github">
                            <a href="https://github.com/arammtech">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#DB4B4E" width="24px" height="24px">
                                    <path d="M12,0.297c-6.627,0-12,5.373-12,12c0,5.302,3.438,9.8,8.205,11.387c0.6,0.113,0.82-0.258,0.82-0.577c0-0.285-0.01-1.04-0.015-2.04c-3.338,0.725-4.042-1.416-4.042-1.416c-0.546-1.385-1.333-1.754-1.333-1.754c-1.091-0.745,0.083-0.729,0.083-0.729c1.205,0.085,1.838,1.238,1.838,1.238c1.07,1.835,2.809,1.305,3.495,0.997c0.107-0.775,0.418-1.305,0.76-1.605c-2.665-0.305-5.467-1.333-5.467-5.932c0-1.31,0.467-2.381,1.236-3.221c-0.124-0.305-0.535-1.532,0.116-3.193c0,0,1.009-0.322,3.301,1.23c0.957-0.266,1.983-0.399,3.003-0.404c1.02,0.005,2.047,0.138,3.006,0.404c2.29-1.552,3.297-1.23,3.297-1.23c0.653,1.661,0.242,2.888,0.118,3.193c0.772,0.84,1.235,1.911,1.235,3.221c0,4.61-2.807,5.624-5.479,5.921c0.43,0.371,0.823,1.102,0.823,2.222c0,1.606-0.015,2.898-0.015,3.293c0,0.32,0.217,0.694,0.825,0.576C20.565,22.092,24,17.593,24,12.297C24,5.67,18.627,0.297,12,0.297z" />
                                </svg>

                            </a>
                        </li>
                        <li id="linkedin">
                            <a href="https://www.linkedin.com/company/arammtech">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#DB4B4E" width="24px" height="24px">
                                    <path d="M4.983,3.5C4.983,4.604,4.134,5.5,3,5.5S1.017,4.604,1.017,3.5C1.017,2.396,1.866,1.5,3,1.5S4.983,2.396,4.983,3.5zM0.846,7.158h4.31v13.685h-4.31V7.158zM9.131,7.158h4.139v1.873h0.059c0.577-1.092,1.991-2.24,4.099-2.24c4.382,0,5.191,2.851,5.191,6.559v7.493h-4.311v-6.644c0-1.584-0.03-3.619-2.205-3.619c-2.213,0-2.554,1.727-2.554,3.51v6.753h-4.309V7.158z" />
                                </svg>

                            </a>
                        </li>
                        <li id="instagram">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#DB4B4E" width="24px" height="24px">
                                    <path d="M16.98 2H7.02A5.02 5.02 0 0 0 2 7.02v9.96A5.02 5.02 0 0 0 7.02 22h9.96A5.02 5.02 0 0 0 22 16.98V7.02A5.02 5.02 0 0 0 16.98 2zM12 16.61a4.61 4.61 0 1 1 4.61-4.61A4.61 4.61 0 0 1 12 16.61zm4.77-8.32a1.08 1.08 0 1 1 1.08-1.08 1.08 1.08 0 0 1-1.08 1.08zM12 8.78a3.22 3.22 0 1 0 3.22 3.22A3.23 3.23 0 0 0 12 8.78z"/>
                                </svg>
                            </a>
                        </li>
                        @* <li><a href="https://www.youtube.com/@arammtech">Y</a></li> *@
                        <li id="youtube">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#DB4B4E" width="24px" height="24px">
                                    <path d="M23.498,6.186c-0.272-1.015-1.067-1.809-2.081-2.081C19.606,3.502,12,3.502,12,3.502s-7.606,0-9.417,0.602C1.568,4.375,0.772,5.17,0.498,6.186C-0.003,8.003-0.003,12-0.003,12s0,3.997,0.502,5.814c0.272,1.016,1.067,1.81,2.081,2.082C4.394,20.498,12,20.498,12,20.498s7.606,0,9.417-0.602c1.014-0.272,1.809-1.067,2.081-2.082C24,15.997,24,12,24,12S24,8.003,23.498,6.186z M9.545,15.568v-7.136L15.455,12L9.545,15.568z" />
                                </svg>


                            </a>
                        </li>
                        <li id="x">
                            <a href="https://x.com/ArammTech">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#DB4B4E" width="20px" height="20px">
                                    <path d="M23.707 0.293a1 1 0 0 0-1.414 0L12 10.586 1.707 0.293A1 1 0 0 0 .293 1.707L10.586 12 .293 22.293a1 1 0 1 0 1.414 1.414L12 13.414l10.293 10.293a1 1 0 0 0 1.414-1.414L13.414 12 23.707 1.707a1 1 0 0 0 0-1.414z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="card__discription">شركة ناشئة ديناميكية متخصصة في حلول البرمجة المبتكرة، تقدم تطبيقات ويب وسطح مكتب مصممة خصيصًا للجمهور العربي، مع التركيز على تصميمات تتمحور حول المستخدم وتحفيز التحول الرقمي باستخدام أحدث التقنيات والخبرات.</div>
                    
                
                </div>
            </div>
            <div class="col-8 p-4 round-2">
                    <div class="tab-pane row gap-5 fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <div class="col-12">
                            <div class="row gap-4">
                                <div class="info-box col">
                                <div class="info-label">الاسم الاول</div>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path opacity="0.4" d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <div class="info-value">@Model.FirstName</div>
                                </div>
                                <div class="info-box col">
                                <div class="info-label">الاسم الأخير</div>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path opacity="0.4" d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <div class="info-value">@Model.LastName</div>
                                </div>
                            </div>
                        </div>
                    <div class="col-12">
                        <div class="row gap-4">
                            <div class="info-box col">
                                <div class="info-label">اسم المستخدم</div>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path opacity="0.4" d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <div class="info-value" >@Model.UserName</div>
                            </div>
                            <div class="info-box col">
                                <div class="info-label">البريد الإلكتروني</div>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path opacity="0.4" d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <div class="info-value" >@Model.Email</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row gap-4">
                            <div class="info-box col">
                                <div class="info-label">رقم الهاتف</div>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path opacity="0.4" d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <div class="info-value">@(string.IsNullOrEmpty(Model.Phone) ? "لايوجد" : Model.Phone)</div>
                            </div>
                            <div class="info-box col">
                                <div class="info-label">حالة الحساب</div>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path opacity="0.4" d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <div class="info-value">@(Model.IsLocked ? "مقفول" : "غير مقفول")</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row gap-4">
                            <div class="info-box col">
                                <div class="info-label">الدور</div>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path opacity="0.4" d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <div class="info-value">@(string.Join(", ", Model.Role))</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row gap-4">
                            <div class="col">
                                <button id="lockUser" class="btn btn-input btn-lg btn-2 jump">lock</button>
                            </div>
                            <div class="col">
                                <button id="deleteUser" class="btn btn-input btn-lg btn-error jump">delete</button>
                            </div>
                        </div>
                    </div>





                    </div>
                </div>
       </div>
    </div>
</section>