@using BookStore.Utilties.HTMLHelpers
@using Template.Utilities.Identity
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Template.Web</title>
    <script type="importmap"></script>
  
    <partial name="_StyleLinksPartial"></partial>
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />


    @await RenderSectionAsync("Styles", required: false)
</head>
<body dir="rtl" >

    <div id="dashboardOverlay">
        <div class="overlay-content">
            <div class="animated-shape"></div>
            <h1>اهلا بك في لوحة التحكم</h1>
        </div>
    </div>


    <header>
        <!-- navbar  fixed-top -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid mx-3">
                <ul class="navbar-nav logo-container f-btw-ctr">
                    <li class="nav-item logo">
                        <a class="navbar-brand m-0 tx-1 bg-aramm" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                            <img src="~/icons/Aramm_tech.svg" alt="logo" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <button id="toggle-button"
                                class="nav-link tc-acc">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path opacity="0.4" d="M9 2V22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </li>
                </ul>
                <button class="navbar-toggler fs-6" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" aria-expanded="false" aria-label="Toggle navigation">
                    <svg width="30" height="30" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 17.0308H20M4 12.0308H20M4 7.03077H20" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>

                <div class="offcanvas offcanvas-start w-40" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavLabel">القائمة</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        
                        <ul class="navbar-nav gap-5  me-auto">
                            <li id="search-box" class="nav-item">
                                <form class="form-input-box f-ctr-ctr" role="search">
                                    <div class="input-box">
                                        <input id="searchInput" placeholder="البحث" aria-label="Search">
                                        <svg id="space" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.5 21.5C16.7467 21.5 21 17.2467 21 12C21 6.75329 16.7467 2.5 11.5 2.5C6.25329 2.5 2 6.75329 2 12C2 17.2467 6.25329 21.5 11.5 21.5Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path opacity="0.4" d="M22 22.5L20 20.5" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </form>
                            </li>
                            <li class="nav-item">
                                <button id="modeSwitch" class="nav-link">
                                </button>
                            </li>
                            <li id="fullscreen-icon" class="nav-item">
                                <button class="nav-link"
                                   aria-current="page"
                                  >
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 9V6.5C2 4.01 4.01 2 6.5 2H9" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path opacity="0.4" d="M15 2H17.5C19.99 2 22 4.01 22 6.5V9" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M22 16V17.5C22 19.99 19.99 22 17.5 22H16" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path opacity="0.4" d="M9 22H6.5C4.01 22 2 19.99 2 17.5V15" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                              </button>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Html.IsActive("theme1")"
                                   asp-area="Admin" asp-controller="Settings" asp-action="Profile">
                                    <img src="/imgs/NewFolder/Mery.jpg" alt="User Profile" class="profile-img">
                               </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Index"
                                   class="leaveDashboard dropdown-item nav-link ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                            <path d="M12.32 14.62L9.76 12.06L12.32 9.5" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M20 12.0596H9.83" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        </g>
                                        <path d="M12 4C7.58 4 4 7 4 12C4 17 7.58 20 12 20" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </nav>
    </header>

    <aside class="sidebar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link f-btw-ctr @Html.IsActive("Admin/Dashboard/Index")" data-bs-toggle="collapse" href="#pagesMenu">
                    <span>
                        <svg class="ms-2" width="24" height="24" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.26837 3.19556L3.32754 7.04556C2.50254 7.68723 1.83337 9.05306 1.83337 10.0889V16.8814C1.83337 19.0081 3.56587 20.7497 5.69254 20.7497H16.3075C18.4342 20.7497 20.1667 19.0081 20.1667 16.8906V10.2172C20.1667 9.10806 19.4242 7.68723 18.5167 7.05473L12.8517 3.08556C11.5684 2.18723 9.50587 2.23306 8.26837 3.19556Z" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11 17.0831V14.3331" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        الرئيسية
                    </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link f-btw-ctr @Html.IsActive("Admin","User")" data-bs-toggle="collapse" href="#usersMenu">
                     <span>
                        <svg class="ms-2" width="24" height="24" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.3966 9.96418C8.30493 9.95501 8.19493 9.95501 8.0941 9.96418C5.91243 9.89084 4.17993 8.10334 4.17993 5.90334C4.17993 3.65751 5.99493 1.83334 8.24993 1.83334C10.4958 1.83334 12.3199 3.65751 12.3199 5.90334C12.3108 8.10334 10.5783 9.89084 8.3966 9.96418Z" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.0425 3.66666C16.8208 3.66666 18.2508 5.10582 18.2508 6.87499C18.2508 8.60749 16.8758 10.0192 15.1617 10.0833C15.0883 10.0742 15.0058 10.0742 14.9233 10.0833" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3.81341 13.3467C1.59507 14.8317 1.59507 17.2517 3.81341 18.7275C6.33424 20.4142 10.4684 20.4142 12.9892 18.7275C15.2076 17.2425 15.2076 14.8225 12.9892 13.3467C10.4776 11.6692 6.34341 11.6692 3.81341 13.3467Z" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16.8118 18.3333C17.4718 18.1958 18.0951 17.93 18.6084 17.5358C20.0384 16.4633 20.0384 14.6942 18.6084 13.6217C18.1043 13.2367 17.4901 12.98 16.8393 12.8333" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        المستخدمين
                     </span>
                    <span>▼</span>
                </a>
                <div class="collapse" id="usersMenu">
                    <ul class="nav flex-column pe-5">
                        <li>
                            <a asp-area="Admin" asp-controller="User" asp-action="Index"
                               class="dropdown-item nav-link @Html.IsActive("Admin/User/Index")">عرض الكل</a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="User" asp-action="Add"
                               class="dropdown-item nav-link @Html.IsActive("Admin/User/Add")">أضف مستخدم</a>
                        </li>
                    </ul>
                        
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link f-btw-ctr @Html.IsActive("Admin","Settings")" data-bs-toggle="collapse" href="#settingsMenu">
                    <span>
                        <svg class="ms-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9999 20.1666C16.0416 20.1666 20.1666 16.0416 20.1666 11C20.1666 5.95831 16.0416 1.83331 10.9999 1.83331C5.95825 1.83331 1.83325 5.95831 1.83325 11C1.83325 16.0416 5.95825 20.1666 10.9999 20.1666Z" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11 7.33331V11.9166" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10.9949 14.6667H11.0031" stroke="#E5E5E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        الاعدادات
                    </span>
                    <span>▼</span>
                </a>
                <div class="collapse" id="settingsMenu">
                    <ul class="nav flex-column pe-5">
                        <li>
                            <a asp-area="Admin" asp-controller="Settings" asp-action="Profile"
                               class="dropdown-item nav-link @Html.IsActive("Admin/Settings/Profile")">
                                <svg class="ms-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 18.7023C18 15.6706 14.5 15 12 15C9.5 15 6 15.6706 6 18.7023M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9Z" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                الملف الشخصي
                            </a>
                        </li>
                    </ul>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link f-btw-ctr @Html.IsActive("Admin","Help")" data-bs-toggle="collapse" href="#helpMenu">
                    <span>
                        <svg class="ms-2" width="24" height="24" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9999 20.1666C16.0416 20.1666 20.1666 16.0416 20.1666 11C20.1666 5.95831 16.0416 1.83331 10.9999 1.83331C5.95825 1.83331 1.83325 5.95831 1.83325 11C1.83325 16.0416 5.95825 20.1666 10.9999 20.1666Z" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11 7.33331V11.9166" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10.9949 14.6667H11.0031" stroke="#E5E5E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        المساعدة
                    </span>
                    <span>▼</span>
                </a>
                <div class="collapse" id="helpMenu">
                    <ul class="nav flex-column pe-5">
                        <li>
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index"
                               class="leaveDashboard dropdown-item nav-link ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.4">
                                        <path d="M11.6797 14.62L14.2397 12.06L11.6797 9.5" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M4 12.0596H14.17" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <path d="M12 4C16.42 4 20 7 20 12C20 17 16.42 20 12 20" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                الخروج
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>

    <div id="loading-spinner"></div> <!-- Spinner element -->

    <main role="main" id="content" class="page-height position-relative overflow-hidden f-ctr-ctr" style="display: none;">
        <partial name="_NotificationsPartial" />
        @RenderBody()
    </main>


   

    <partial name="_ScriptsPartial"></partial>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
