@using BookStore.Utilties.HTMLHelpers
@using Template.Utilities.Identity
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Template.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  
    <partial name="_StyleLinksPartial"></partial>

    <link rel="stylesheet" href="~/css/notification2.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body dir="rtl" >
    <header>
        <!-- navbar  fixed-top -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <ul class="navbar-nav logo-container">
                    <li class="nav-item logo">
                        <a class="navbar-brand  bg-aramm" asp-area="Customer" asp-controller="Home" asp-action="Index">
                            <img src="~/imgs/TeamARAMM/Aramm_tech.svg" alt="logo" />
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler fs-6" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" aria-expanded="false" aria-label="Toggle navigation">
                    <svg width="30" height="30" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 17.0308H20M4 12.0308H20M4 7.03077H20" stroke="#161D18" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>

                <div class="offcanvas offcanvas-start w-40" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavLabel">القائمة</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav gap-5 me-5">
                            <li class="nav-item">
                                <a class="nav-link @Html.IsActive("Customer/Home/Index")"
                                   aria-current="page"
                                   asp-area="Customer" asp-controller="Home" asp-action="Index">الرئيسية</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Html.IsActive("theme1")"
                                   asp-area="Customer" asp-controller="Home" asp-action="Privacy">theme1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Html.IsActive("theme2")"
                                   asp-area="Customer" asp-controller="Home" asp-action="Privacy">theme2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Html.IsActive("Customer/Home/AboutUs")"
                                   asp-area="Customer" asp-controller="Home" asp-action="AboutUs">عن المطورين</a>
                            </li>
                            <li class="nav-item btn-group dropdown-1">
                                <a id="manage"
                                   class="nav-link pointer  @Html.IsActive("Customer/Home/Help")  @Html.IsActive("Customer/Home/FAQ")  @Html.IsActive("Customer/Home/Goals") @Html.IsActive("Customer/Home/ContactUs")  @Html.IsActive("Customer/Home/Privacy")"
                                  >
                                    المساعدة
                                </a>
                                <button type="button" class="dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a id="manage" asp-area="Customer" asp-controller="Home" asp-action="FAQ"
                                            class="dropdown-item nav-link @Html.IsActive("Customer/Home/FAQ")" title="Manage">الأسئلة الشائعة</a>
                                    </li>
                                    <li>
                                        <a id="manage" asp-area="Customer" asp-controller="Home" asp-action="Goals"
                                           class="dropdown-item nav-link @Html.IsActive("Customer/Home/Goals")" title="Manage">الأهداف</a>
                                    </li>
                                    <li>
                                        <a id="manage" asp-area="Customer" asp-controller="Home" asp-action="ContactUs"
                                            class="dropdown-item nav-link @Html.IsActive("Customer/Home/ContactUs")" title="Manage">التواصل معنا</a>
                                    </li>
                                    <li>
                                        <a id="manage" asp-area="Customer" asp-controller="Home" asp-action="Privacy"
                                            class="dropdown-item nav-link @Html.IsActive("Customer/Home/Privacy")" title="Manage">الخصوصية والامان</a>
                                    </li>
                                </ul>
                            </li>
                            
                            @if (User.IsInRole(AppUserRoles.RoleAdmin))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @Html.IsActive("Admin/Dashboard/Index")" asp-area="Admin" asp-action="Index" asp-controller="Dashboard">ادارة التطبيق</a>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav me-auto ">
                            <li id="search-box" class="nav-item f-ctr-ctr me-5">
                                <form class="form-input-box f-ctr-ctr" role="search">
                                    <div class="input-box">
                                        <input id="searchInput" placeholder="البحث" aria-label="Search">
                                        <svg id="space" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.5 21.5C16.7467 21.5 21 17.2467 21 12C21 6.75329 16.7467 2.5 11.5 2.5C6.25329 2.5 2 6.75329 2 12C2 17.2467 6.25329 21.5 11.5 21.5Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path opacity="0.4" d="M22 22.5L20 20.5" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                    </div>
                                </form>
                            </li>
                            <li class="nav-item shopping-card-box me-5">
                                <a class="nav-link @Html.IsActive("Customer/Cart/Index")" asp-area="Customer" asp-action="Index" asp-controller="Cart">
                                    <svg class="pointer" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 2.5H3.74001C4.82001 2.5 5.67 3.43 5.58 4.5L4.75 14.46C4.61 16.09 5.89999 17.49 7.53999 17.49H18.19C19.63 17.49 20.89 16.31 21 14.88L21.54 7.38C21.66 5.72 20.4 4.37 18.73 4.37H5.82001" stroke="#E5E5E5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path opacity="0.4" d="M16.25 22.5C16.9404 22.5 17.5 21.9404 17.5 21.25C17.5 20.5596 16.9404 20 16.25 20C15.5596 20 15 20.5596 15 21.25C15 21.9404 15.5596 22.5 16.25 22.5Z" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path opacity="0.4" d="M8.25 22.5C8.94036 22.5 9.5 21.9404 9.5 21.25C9.5 20.5596 8.94036 20 8.25 20C7.55964 20 7 20.5596 7 21.25C7 21.9404 7.55964 22.5 8.25 22.5Z" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path opacity="0.4" d="M9 8.5H21" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                                 @* @await Component.InvokeAsync("ShoppingCartQuantity")  *@
                            </li>
                            <partial name="_LoginPartial" />
                            <li class="nav-item me-5">
                                <button id="modeSwitch" class="nav-link">
                                  
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>


    </header>


    <div id="loading-spinner"></div> <!-- Spinner element -->

    <main role="main" id="content" class="page-height position-relative overflow-hidden f-ctr-ctr" style="display: none;">
        <div class="notifications"></div>
        <partial name="_NotificationsPartial" />
        @RenderBody()
    </main>


    <footer class="footer m-0 border-none">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <div class="container">
                  <ul class="social-icons">
                <!--
                           <li id="facebook">
                           <a href="#">
                               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#A27B5C" width="24px" height="24px">
                                   <path d="M22,12c0-5.521-4.479-10-10-10S2,6.479,2,12c0,5,3.657,9.127,8.438,9.877v-6.987H8.078v-2.89h2.36V10.5c0-2.324,1.374-3.606,3.483-3.606c1.008,0,2.064,0.182,2.064,0.182v2.255h-1.163c-1.146,0-1.504,0.713-1.504,1.444v1.736h2.56l-0.409,2.89h-2.151v6.987C18.343,21.127,22,17,22,12z" />
                               </svg>
                           </a>
                       </li>
                       -->
                <li id="github">
                    <a href="https://github.com/arammtech">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#A27B5C" width="24px" height="24px">
                            <path d="M12,0.297c-6.627,0-12,5.373-12,12c0,5.302,3.438,9.8,8.205,11.387c0.6,0.113,0.82-0.258,0.82-0.577c0-0.285-0.01-1.04-0.015-2.04c-3.338,0.725-4.042-1.416-4.042-1.416c-0.546-1.385-1.333-1.754-1.333-1.754c-1.091-0.745,0.083-0.729,0.083-0.729c1.205,0.085,1.838,1.238,1.838,1.238c1.07,1.835,2.809,1.305,3.495,0.997c0.107-0.775,0.418-1.305,0.76-1.605c-2.665-0.305-5.467-1.333-5.467-5.932c0-1.31,0.467-2.381,1.236-3.221c-0.124-0.305-0.535-1.532,0.116-3.193c0,0,1.009-0.322,3.301,1.23c0.957-0.266,1.983-0.399,3.003-0.404c1.02,0.005,2.047,0.138,3.006,0.404c2.29-1.552,3.297-1.23,3.297-1.23c0.653,1.661,0.242,2.888,0.118,3.193c0.772,0.84,1.235,1.911,1.235,3.221c0,4.61-2.807,5.624-5.479,5.921c0.43,0.371,0.823,1.102,0.823,2.222c0,1.606-0.015,2.898-0.015,3.293c0,0.32,0.217,0.694,0.825,0.576C20.565,22.092,24,17.593,24,12.297C24,5.67,18.627,0.297,12,0.297z" />
                        </svg>
                    </a>
                </li>
                <li id="linkedin">
                    <a href="https://www.linkedin.com/company/arammtech">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#A27B5C" width="24px" height="24px">
                            <path d="M4.983,3.5C4.983,4.604,4.134,5.5,3,5.5S1.017,4.604,1.017,3.5C1.017,2.396,1.866,1.5,3,1.5S4.983,2.396,4.983,3.5zM0.846,7.158h4.31v13.685h-4.31V7.158zM9.131,7.158h4.139v1.873h0.059c0.577-1.092,1.991-2.24,4.099-2.24c4.382,0,5.191,2.851,5.191,6.559v7.493h-4.311v-6.644c0-1.584-0.03-3.619-2.205-3.619c-2.213,0-2.554,1.727-2.554,3.51v6.753h-4.309V7.158z" />
                        </svg>
                    </a>
                </li>
                <li id="instagram">
                    <a href="https://www.instagram.com/arammtech/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#A27B5C" width="24px" height="24px">
                            <path d="M16.98 2H7.02A5.02 5.02 0 0 0 2 7.02v9.96A5.02 5.02 0 0 0 7.02 22h9.96A5.02 5.02 0 0 0 22 16.98V7.02A5.02 5.02 0 0 0 16.98 2zM12 16.61a4.61 4.61 0 1 1 4.61-4.61A4.61 4.61 0 0 1 12 16.61zm4.77-8.32a1.08 1.08 0 1 1 1.08-1.08 1.08 1.08 0 0 1-1.08 1.08zM12 8.78a3.22 3.22 0 1 0 3.22 3.22A3.23 3.23 0 0 0 12 8.78z" />
                        </svg>
                    </a>
                </li>
                @* <li><a href="https://www.youtube.com/@arammtech">Y</a></li> *@
                <li id="youtube">
                    <a href="https://www.youtube.com/@@arammtech">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#A27B5C" width="24px" height="24px">
                            <path d="M23.498,6.186c-0.272-1.015-1.067-1.809-2.081-2.081C19.606,3.502,12,3.502,12,3.502s-7.606,0-9.417,0.602C1.568,4.375,0.772,5.17,0.498,6.186C-0.003,8.003-0.003,12-0.003,12s0,3.997,0.502,5.814c0.272,1.016,1.067,1.81,2.081,2.082C4.394,20.498,12,20.498,12,20.498s7.606,0,9.417-0.602c1.014-0.272,1.809-1.067,2.081-2.082C24,15.997,24,12,24,12S24,8.003,23.498,6.186z M9.545,15.568v-7.136L15.455,12L9.545,15.568z" />
                        </svg>
                    </a>
                </li>
                <li id="x">
                    <a href="https://x.com/ArammTech">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#A27B5C" width="20px" height="20px">
                            <path d="M23.707 0.293a1 1 0 0 0-1.414 0L12 10.586 1.707 0.293A1 1 0 0 0 .293 1.707L10.586 12 .293 22.293a1 1 0 1 0 1.414 1.414L12 13.414l10.293 10.293a1 1 0 0 0 1.414-1.414L13.414 12 23.707 1.707a1 1 0 0 0 0-1.414z" />
                        </svg>
                    </a>
                </li>
                  </ul>
                  <ul class="menu">
                    <li><a href="">الرئيسية</a></li>
                    <li><a href="">الأسئلة الشائعة</a></li>
                    <li><a href="">الأهداف</a></li>
                    <li><a href="">عن المطورين</a></li>
                    <li><a href="">الخصوصية والامان</a></li>
                    <li><a href="">المساعدة</a></li>
                    <li><a href="">تسجيل الدخول</a></li>
                  </ul>
            <ul class="flex-column gap-0">
                <li>
                    جميع الحقوق محفوظة لدى
                    <a class="tc-acc pointer hov-2" href="#"> Website</a>
                </li>
                <li>
                    صنع بكل
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="#DB4B4E" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                    </svg>
                    بواسطة
                    <a class="tc-aramm pointer hov-2" href="#">ARAMM</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Help Button -->
    <a id="helpButton"  asp-area="Customer" asp-controller="Home" asp-action="Help"  class="btn btn-icon btn-sm btn-1 hidden">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 16C15.87 16 19 12.87 19 9C19 5.13 15.87 2 12 2C8.13 2 5 5.13 5 9" stroke="#DFDCD5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M12 16V22" stroke="#DFDCD5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path opacity="0.4" d="M15 19H9" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>


    </a>
    <!-- Back to Top Button (placed here) -->
    <button id="backToTop" class="btn btn-icon btn-sm btn-1 hidden">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.92 15.0499L13.4 8.52989C12.63 7.75989 11.37 7.75989 10.6 8.52989L4.08002 15.0499" stroke="#DFDCD5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

    </button>

    <partial name="_ScriptsPartial"></partial>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Include notification.js as a module -->
    <script type="module" src="~/js/notifications2.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
